@import "./poly-fluid-sizing.scss";

.content {
  width: 100%;
  height: 100%;

  $padding-x: (
    576px: 30px,
    768px: 50px,
    992px: 70px
  );
  @include poly-fluid-sizing("padding-left", $padding-x);
  @include poly-fluid-sizing("padding-right", $padding-x);

  $padding-top: (
    576px: 30px,
    768px: 40px,
    992px: 50px
  );
  @include poly-fluid-sizing("padding-top", $padding-top);

  $padding-bottom: (
    576px: 60px,
    768px: 80px,
    992px: 100px
  );
  @include poly-fluid-sizing("padding-bottom", $padding-bottom);
}

.topic {
  $map: (
    576px: 48px,
    768px: 64px,
    992px: 72px
  );
  @include poly-fluid-sizing("font-size", $map);
}

.tagline {
  max-width: 90%;
  font-weight: 400;
  margin-top: 5px;
  color: lighten(black, 25%);
  $map: (
    576px: 20px,
    768px: 22px,
    992px: 30px
  );
  @include poly-fluid-sizing("font-size", $map);
}

.sub-topic {
  margin-bottom: 20px;
  $map: (
    576px: 36px,
    768px: 32px,
    992px: 48px
  );
  @include poly-fluid-sizing("font-size", $map);
}

.information {
  max-width: 90%;

  $map: (
    576px: 16px,
    768px: 16px,
    992px: 20px
  );
  @include poly-fluid-sizing("font-size", $map);

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  > .img {
    width: 65%;
    margin: 25px auto;
  }
}